DB_ROOT_USERNAME=<root-username>
DB_ROOT_PASSWORD=<root-password>
DB_NAME=<database-name>
DB_PORT=<database-port>
DB_USER=<username>
DB_PASSWORD=<password>
MONGO_URI=mongodb://<username>:<password>@mongo:<database-port>/<database-name>
